!!! 5
%meta{ name: "tetris", charset: "UTF-8"}
%title Life Game
%link{ rel: "stylesheet", href: "stylesheets/style.css" }
%body
  %audio#clearsound{ src: "sounds/pop.ogg", preload: "auto" }
  %canvas{ width: "300", height: "600" }
  %script{ src: "js/all.min.js" }
